*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin-top: 5vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2,strong
{
    text-align: center;
}
